footer.bg-light.py-5.border
   .container-fluid
      .row.justify-content-center
         .widget
            h3.heading Categorías
            +nav('flex-column', 'px-0 text-secondary'
            ,['#', 'diseño gráfico']
            , ['#', 'marketing digital']
            , ['#', 'escritura y traducciones']
            , ['#', 'video y animación']
            , ['#', 'música y audio']
            , ['#', 'programación']
            , ['#', 'negocios']
            , ['#', 'diversión y estilo de vida']
            , ['#', 'mapa del sitio']
            )
         .widget
            h3.heading Nosotros
            +nav('flex-column', 'px-0 text-secondary'
            ,['#', 'carreras']
            , ['#', 'prensa y noticias']
            , ['#', 'asociaciones']
            , ['#', 'política de privacidad']
            , ['#', 'términos de servicio']
            )
         .widget
            h3.heading Soporte
            +nav('flex-column', 'px-0 text-secondary'
            ,['#', 'soporte técnico']
            , ['#', 'ayuda y educación']
            , ['#', 'confianza y seguridad']
            , ['#', 'vender en frv']
            , ['#', 'comprar en fvr']
            )
         .widget
            h3.heading Comunidad
            +nav('flex-column', 'px-0 text-secondary'
            ,['#', 'blog']
            , ['#', 'foro']
            , ['#', 'podcast afiliados']
            , ['#', 'invita a un amigo']
            )
         .widget
            h3.heading Para freelancers
            +nav('flex-column', 'px-0 text-secondary'
            ,['#', 'comienza a vender']
            , ['#', 'fvr PRO']
            , ['#', 'fvr elevate']
            , ['#', '& COM']
            )