nav.navbar.navbar-dark.navbar-expand-md.justify-content-between.p-0
   a.navbar-brand(href="index.html") 
      img(src="assets/img/logo.png", alt="Logotipo de la empresa")
   button.navbar-toggler(type="button" data-toggle="collapse" data-target=`#navbar-main` aria-controls='navbar-main' aria-expanded="false" aria-label="Mostrar navegación")
      span.navbar-toggler-icon
   #navbar-main.collapse.navbar-collapse.py-3.u-transition-s
      ul.navbar-nav.ml-auto
         li.nav-item
            a.nav-link(href="#") Comienza a vender
         li.nav-item
            a.nav-link(href="#") Iniciar Sesión
         li.nav-item.border
            a.nav-link.btn.btn-outline-light(href="#") Acceder